body
{
	background-color:#F0F8FF;
}
.Front
{
	
	width:1475px;
	height:1000px;
	background:url("5LM.jpg");
	background-size: 1475px 1000px;
	margin-top:-100px;
	margin-left:-10px;
	position:relative;
}
.flag
{
	position:absolute;
}
.flag img
{
	margin-top:175px;
	margin-left:105px;
	width:150px;
	opacity: 0;
	animation: fadeIn 1s ease-in-out forwards;
    	animation-delay: 0.5s;
}
.logo
{	
	position:absolute;
}
.logo img
{
	padding-top:200px;
	padding-left:1200px;
	width:150px;
	opacity: 0;
    	animation: fadeIn 1s ease-in-out forwards;
    	animation-delay: 0.5s;
}
.language 
{
	position:relative;
	padding-top:400px;
	padding-left:50px;
	
}
.lan
{
	background-color:black;
	margin:5px;
	font-size:30px;
	color:lightgray;
	border:transparent;
	text-decoration:none;
	opacity: 0;
	animation: fadeIn 1s ease-in-out forwards;
    	animation-delay: 0.5s;	
}
.lan:hover
{
	cursor:pointer;
	color:white;
}
.name
{
	padding-top:50px;
	padding-left:1075px;
	text-align:center;
	font-size:100px;
	color:#D9D9D9;
	opacity: 0;
    	animation: fadeIn 1s ease-in-out forwards;
    	animation-delay: 0.5s;
}
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
#next_match
{
	background-color:#070B16;
	margin:-10px;
	padding-top:0.8cm;
	padding-bottom:1.25cm;
	padding-left:7cm;
	color:white;
	font-size:50px;
}
#timer {
	color:#6CACE4;	
    	text-align: center;
    	font-size: 60px;
	float:right;
	margin-right:7.25cm;
}
#time_name
{
	color:#6CACE4;
	font-size:20px;
	float:right;
	margin-right:7.25cm;	
}
.left
{
	float:left;
}
.dribbling
{	
	width:503px;
	height:971px;
	margin:1.5cm;
	background:url("dribbling.png");
	background-size: 503px 971px;
}
.welcome
{	
	padding-left:75px;
	margin-left:-0.3cm;
	margin-top:-17cm;
	width:410px;
	height:50px;
	background-color:rgba(255,255,255,0.95);
	color:#6CACE4;
	font-size:35px;
}
.note
{	
	padding-left:75px;	
	height:50px;
	width:505px;
	margin-left:-0.3cm;
	margin-top:-0.85cm;
	background-color:#6CACE4;
	color:black;
	font-size:35px;
}
.flex
{
	display:flex;
}
.right1
{	
	margin-top:7cm;
	background-color:#4A4A4A;
	width:200px;
	height:621px;
	font-size:30px;
	color:white;
}
.right1:hover
{
	background-color:#1C1C1C;
}
.match1
{
	color:black;
	font-size:40px;
	margin-left:22.5px;
	width:160px;
	height:100px;
	background-color:#6CACE4;
	text-align:center;
}
.status1
{
	text-align:center;
}
.right2
{
	font-size:30px;
	margin-top:6cm;
	margin-left:30px;
	background-color:#4A4A4A;
	width:200px;
	height:671px;
	color:white;
}
.right2:hover
{
	background-color:#1C1C1C;
}
.match2
{
	color:black;
	font-size:40px;
	margin-left:22.5px;
	width:160px;
	height:100px;
	background-color:#6CACE4;
	text-align:center;
}
.status2
{
	text-align:center;
}
.right3
{	
	font-size:30px;
	margin-top:7cm;
	margin-left:30px;
	background-color:#4A4A4A;
	width:200px;
	height:621px;
	color:white;
}
.right3:hover
{
	background-color:#1C1C1C;
}
.match3
{
	color:black;
	font-size:40px;
	margin-left:22.5px;
	width:160px;
	height:100px;
	background-color:#6CACE4;
	text-align:center;
}
.status3
{
	text-align:center;
}
img
{
	width:60px;
	margin-left:1.85cm;
}
.teams
{
	text-align:center;
	font-size:30px;
	color:#6CACE4;
}
